#save {
    position: fixed;
    right: 1em;
    top: 1em;
    padding: 1em;
    box-shadow: 0 0 0.5em #7f7f7f;
    transition: 0.5s;
    cursor: pointer;
}

#save:hover {
    box-shadow: 0 0 1em #7f7f7f;
    transition: 0.3s;
}

#save:active {
    color: #7f7f7f;
    transition: 0.1s;
}

h2 {
    cursor: pointer;
}

table {
    display: none;
}
