#actions {
    position: fixed;
    right: 1em;
    top: 1em;
    text-align: center;
}

h2 {
    cursor: pointer;
}

h3 {
    padding: 1em;
    background: #7f7f7f;
    color: #fff;
    transition: 0.5s;
    cursor: pointer;
}

h3:hover {
    background: #9f9f9f;
    transition: 0.3s;
}

h3:active {
    background: #bfbfbf;
    transition: 0.1s;
}

table {
    display: none;
}
