#save {
    position: fixed;
    right: 1em;
    top: 1em;
    padding: 1em;
    background: #7f7f7f;
    color: #fff;
    transition: 0.5s;
    cursor: pointer;
}

#save:hover {
    background: #9f9f9f;
    transition: 0.3s;
}

#save:active {
    background: #bfbfbf;
    transition: 0.1s;
}

h2 {
    cursor: pointer;
}

table {
    display: none;
}
