#actions {
    position: fixed;
    right: 1em;
    top: 1em;
    text-align: center;
    opacity: 0;
    transition: all 1s ease 1.5s;
}

#actions:hover {
    opacity: 1;
    transition: all 0.3s ease 0s;
}

.new-item {
    padding-right: 1em;
    color: #0f0;
}

h2 {
    cursor: pointer;
}

h3 {
    padding: 1em;
    background: #7f7f7f;
    color: #fff;
    transition: 0.5s;
    cursor: pointer;
}

h3:hover {
    background: #9f9f9f;
    transition: 0.3s;
}

h3:active {
    background: #bfbfbf;
    transition: 0.1s;
}

table {
    display: none;
}
